html {
    margin: 0;
    padding: 0;
    
}

.header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: flex-start;
padding:10px
}

.header > * {
    padding-left: 20px;
    padding-right: 20px;
}

.maincolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    margin: 50px;
    width: 200px;
}