html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-evenly ;
padding:10px;
margin-left: 60px;
margin-right: 200px;
}

h1 {
    color: salmon;
    font-weight: bolder;
}

.scoretext {
    color: seagreen;
}

.header > * {
    padding-left: 40px;
    padding-right: 40px;
}

.maincolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.startcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

.btn {
    background-color: rgb(53, 53, 139);
    color: white;
    border-style: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    margin: 20px;
    width: 200px;
}

.btn:hover {
    background-color: rgb(76, 76, 214);
}

.hide {
    display: none;
}

.timertext {
    font-size: 20px;
    color: slategray;
}

p {
    font-size: 30px;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    text-align: center
}